%header
  .navbar.navbar-expand-md.fixed-top.bg-primary
    .col-md-4
      = link_to root_path, class: 'c-white' do
        = image_tag 'logo.png', alt: 'Home', class: 'logo ms-2'

    .col-md-4.d-flex.justify-content-center.c-white
      = notice

    .col-md-4.d-flex.justify-content-end.align-self-end
      %ul.navbar-nav
        %li
          - if user_signed_in?
            = link_to 'プロフィール', edit_user_registration_path, class: 'btn c-white'
        %li
          - if user_signed_in?
            = link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn c-white'
            -# TODO: FIXME: GET 以外のメソッドは link_to を使わないこと
          - else
            = link_to 'ログイン', new_user_session_path, class: 'btn c-white'
